In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
import random
from sklearn.impute import SimpleImputer
from sklearn.cluster import KMeans
from sklearn import metrics
import copy

In [17]:
data= pd.read_csv('./cmc.csv')

data.columns = ['wife_age','wife_edu','hus_edu','num_chid','wife_religion','wife_ifdo','hus_occ','st_live','media_expose','class']
print(data)
print(data.iloc[[0],[1]])

      wife_age  wife_edu  hus_edu  num_chid  wife_religion  wife_ifdo  \
0           45         1        3        10              1          1
1           43         2        3         7              1          1
2           42         3        2         9              1          1
3           36         3        3         8              1          1
4           19         4        4         0              1          1
...        ...       ...      ...       ...            ...        ...
1467        33         4        4         2              1          0
1468        33         4        4         3              1          1
1469        39         3        3         8              1          0
1470        33         3        3         4              1          0
1471        17         3        3         1              1          1

      hus_occ  st_live  media_expose  class
0           3        4             0      1
1           3        4             0      1
2           3        3             0      1
3           3        2             0      1
4           3        3             0      1
...       ...      ...           ...    ...
1467        2        4             0      3
1468        1        4             0      3
1469        1        4             0      3
1470        2        2             0      3
1471        2        4             0      3

[1472 rows x 10 columns]
   wife_edu
0         1

In [18]:
#训练测试集
X_train, X_test = train_test_split(data, test_size=0.2, random_state=int(time.time()))
print(X_train.shape,X_test.shape)

(1177, 10) (295, 10)

In [19]:
#朴素贝叶斯分类器
mnb = MultinomialNB()
used_features =[
'wife_age','wife_edu','hus_edu','num_chid','wife_religion','wife_ifdo','hus_occ','st_live','media_expose'
]
mnb.fit(X_train[used_features].values, X_train["class"])

y_pred = mnb.predict(X_test[used_features])

# 打印结果
print("Number of mislabeled points out of a total {} points : {}, performance {:05.2f}%"
      .format(X_test.shape[0], (X_test["class"] != y_pred).sum(), 100*(1-(X_test["class"] != y_pred).sum()/X_test.shape[0])))

Number of mislabeled points out of a total 295 points : 147, performance 50.17%

In [20]:
#copy 一份数据
data2 = copy.deepcopy(data)
#%20%
for i in range(2650):
    a = random.randint(0,1471)
    b= random.randint(0,8)
    data.iloc[[a],[b]] = 'Nan'
print(data)
#10%
for i in range(1300):
    c = random.randint(0,1471)
    d= random.randint(0,8)
    data2.iloc[[c],[d]] = 'Nan'
print(data2)

     wife_age wife_edu hus_edu num_chid wife_religion wife_ifdo hus_occ  \
0          45      Nan       3       10           Nan         1     Nan
1         Nan        2       3        7             1         1       3
2          42        3       2        9             1       Nan       3
3          36        3       3        8             1         1       3
4          19        4       4      Nan             1       Nan       3
...       ...      ...     ...      ...           ...       ...     ...
1467       33        4       4      Nan             1         0       2
1468       33        4       4        3             1         1     Nan
1469       39        3       3        8             1       Nan       1
1470       33        3       3        4             1       Nan     Nan
1471       17        3     Nan        1             1         1       2

     st_live media_expose  class
0          4            0      1
1          4            0      1
2          3            0      1
3          2          Nan      1
4          3          Nan      1
...      ...          ...    ...
1467     Nan            0      3
1468       4            0      3
1469       4            0      3
1470       2            0      3
1471       4          Nan      3

[1472 rows x 10 columns]
     wife_age wife_edu hus_edu num_chid wife_religion wife_ifdo hus_occ  \
0          45        1       3       10             1         1     Nan
1          43        2     Nan        7             1         1       3
2          42        3       2      Nan             1         1       3
3          36      Nan       3        8             1       Nan       3
4          19        4     Nan        0             1         1       3
...       ...      ...     ...      ...           ...       ...     ...
1467       33        4       4        2             1         0       2
1468       33        4       4        3           Nan         1       1
1469       39        3     Nan        8             1         0     Nan
1470       33        3       3        4             1         0       2
1471       17        3       3        1             1         1       2

     st_live media_expose  class
0          4            0      1
1          4            0      1
2          3            0      1
3          2          Nan      1
4          3            0      1
...      ...          ...    ...
1467       4            0      3
1468       4            0      3
1469       4            0      3
1470     Nan            0      3
1471     Nan            0      3

[1472 rows x 10 columns]

In [21]:
#缺失百分之20的数据
data1 = np.array(data)
data3 = np.array(data2)
print(data1)
print(data3)
i=0
w = 0
for index, item in enumerate(data1):
    for j in range(len(item)):
        if item[j]=='Nan':
            i = i+1
for index, item in enumerate(data3):
    for j in range(len(item)):
        if item[j]=='Nan':
            w = w+1
print(i,w)

[[45 'Nan' 3 ... 4 0 1]
 ['Nan' 2 3 ... 4 0 1]
 [42 3 2 ... 3 0 1]
 ...
 [39 3 3 ... 4 0 3]
 [33 3 3 ... 2 0 3]
 [17 3 'Nan' ... 4 'Nan' 3]]
[[45 1 3 ... 4 0 1]
 [43 2 'Nan' ... 4 0 1]
 [42 3 2 ... 3 0 1]
 ...
 [39 3 'Nan' ... 4 0 3]
 [33 3 3 ... 'Nan' 0 3]
 [17 3 3 ... 'Nan' 0 3]]
2421 1234

In [22]:
#填补
data1 = np.array(data)
data3 = np.array(data2)
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
data1_cha = imp.fit_transform(data1)
data2_cha = imp.fit_transform(data3)
print(data1_cha[:,:-1].shape,data2_cha[:,:-1].shape)

(1472, 9) (1472, 9)

In [124]:
#em之聚类
EM_train1, EM_test1 = train_test_split(data1_cha, test_size=0.2, random_state=0)
EM_train2, EM_test2 = train_test_split(data2_cha, test_size=0.2, random_state=0)
kmeans1 = KMeans(n_clusters=3, random_state=0).fit(EM_train1[:,:-1])
kmeans2 = KMeans(n_clusters=3, random_state=0).fit(EM_train2[:,:-1])
pred_1 = kmeans1.predict(EM_test1[:,:-1])
pred_2 = kmeans2.predict(EM_test2[:,:-1])
# print(pred_1)
# print(pred_2)
acc = metrics.accuracy_score(EM_test1[:,-1],pred_1)
acc2 = metrics.accuracy_score(EM_test2[:,-1],pred_2)
print(acc)
print(acc2)

0.24067796610169492
0.22372881355932203